/* .navBar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 5vh;
    margin-bottom: 0;
}

.nav-link {
    font-size: 2vh;
}

.nav-link:first-child {
    margin-right: 10%;
} */